.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

.truncate-text {
  display: block; 
  max-width: 100%;
  text-overflow: ellipsis; 
  overflow: hidden;
  white-space: nowrap;
}

.regular-input-wrapper {
  margin-bottom: 10px;
}

.regular-input-wrapper__label {
  display: inline-block;
  margin-bottom: 4px;
  font-weight: bold;
}

.regular-input-wrapper__error {
  display: inline-block;
  margin-left: 8px;
  color: #e74c3c;
  font-weight: bold;
}
