.shoppingListHeader {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.shoppingListHeader h1 {
  font-size: 24px;
  color: #333333;
  margin: 0;
  margin-bottom: 5px;
}

.shoppingListAddBtn {
  margin-left: auto !important;
  margin-right: 0 !important;
}
